---
layout: default
---
<section class="article">
{{ content }}
</section>
<hr>
<br>
<section class="meta">
{% if page.categories %}
<span class="categories">
  Categories:
  {% for cat in page.categories %}
  <a href="{{ site.url }}/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>&nbsp;
  {% endfor %}
</span>
{% endif %}
{% if page.tags %}
<span class="tags">
  Tags: 
  {% for tag in page.tags %}
  <a href="{{ site.url }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }}</a>&nbsp;
  {% endfor %}
</span>
{% endif %}
</section>
<br>
<div id="post-nav" class="clearfix">
  {% if page.previous.url %} 
    <a class="prev" href="{{page.previous.url}}" title="{{ page.previous.title }}">&laquo; Previous Article</a> 
  {% endif %} 
  {% if page.next.url %} 
    <a class="next" href="{{page.next.url}}" title="{{page.next.title}}"> Next Article &raquo;</a> 
  {% endif %} 
</div>
<hr>
{% include comments.md %}
<script type="text/javascript">
$(function(){
  $(document).keydown(function(e) {
    if (e.target.nodeName.toUpperCase() != 'BODY') return;
    var url = false;
        if (e.which == 37 || e.which == 74) {  // Left arrow and J
            {% if page.previous %}
        url = '{{ site.url }}{{ page.previous.url }}';
        {% endif %}
        }
        else if (e.which == 39 || e.which == 75) {  // Right arrow and K
            {% if page.next %}
        url = '{{ site.url }}{{ page.next.url }}';
        {% endif %}
        }
        if (url) {
            window.location = url;
        }
  });
})
</script>
</section>
